<body>
    <h3>Add new schedule</h3>
    <button id="top-right-button" (click)="onAddRouteBtnClk()">Add New Route</button>
    <div class="form-container">
        <form>
          <div class="form-group">
            <label for="route">Select Route:</label>
            <select id="route" name="route" class="form-control" [(ngModel)]="formData.routeId">
                <option value="" disabled selected>Select a route</option>
                <option *ngFor="let route of routeList" [value]="route.routeId">
                  {{ route.routeNumber }} - {{ route.origin }} - {{ route.destination }}
                </option>

            </select>
          </div>
      
          <div class="form-group">
            <label for="departure">Scheduled Departure:</label>
            <input type="datetime-local" id="departure" name="departure" class="form-control" [(ngModel)]="formData.departureTime">
          </div>
      
          <div class="form-group">
            <label for="arrival">Scheduled Arrival:</label>
            <input type="datetime-local" id="arrival" name="arrival" class="form-control" [(ngModel)]="formData.arrivalTime">
          </div>
      
          <div class="form-buttons">
            <button type="button" class="btn btn-primary" (click)="onProceed()">Proceed</button>
            <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
          </div>
        </form>
      </div>
      
</body>
