body{
    margin-top:50px;
}

#table-container{
    border: 2px solid;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-size: small;
    text-align: center;
    font-size: medium;
  }
  
  th,
  td {
    border: 1px solid #100505;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #d1d1d1;
  }

  #btn-vote{
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  padding: 4px 14px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  }



  #btn-vote:hover {
  background-color: #2c974b;
}



